################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/neutron_tools/v15
/__pycache__
/tally_test.txt
/.vs/slnx.sqlite
*.png
*.html
*.txt
